.center-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 1);
    width: 700px; 
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.click-me-text {
    font-size: 24px;
    color: white; 
    font-weight: bold; 
}

.flower {
    position: relative;
    width: 280px;
    height: 100px;
    background: purple;
    border-radius: 50px;
    z-index: 1; 
}

.flower::before,
.flower::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 100px;
    background: purple;
    border-radius: 50px;
}

.flower::before {
    transform: rotate(60deg);
}

.flower::after {
    transform: rotate(-60deg);
}

.center-circle {
    width: 50px;
    height: 50px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.stem {
    position: absolute;
    width: 20px;
    height: 250px;
    background: green;
    top: 100px;
    left: 130px;
}

.text-container {
    margin-left: 20px; 
}

.happy-text {
    font-size: 24px; 
    color: white; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px black;
}
